.Car {
  background-color: #424242;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  > div:last-child {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    width: fill-available;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    div {
      background-color: #370053;
      padding: 1rem 3rem;
      border-radius: 20px;
      border: 1px solid #fff;
    }
  }
}
