.Manufacture-date {
  display: flex;
  background-color: #252525;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  flex-direction: column;
  color: #fff;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  p {
    margin: 0;
    &:first-child {
      font-size: 1.7rem;
    }
    &:last-child {
      font-weight: 700;
      font-size: 2rem;
    }
  }
}
