@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;400;500;900&display=swap");
body {
  background-color: #373737;
  font-family: "Geologica", sans-serif;
  text-transform: capitalize;
}
